@import "tailwindcss";


.fondo {
    background-image: url("../../../public/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.borde_ a:hover {
    color: #5bd6d6;
}

.login {
    border: 1px solid #5bd6d6;
    color: #5bd6d6; 
}

.login:hover {
    background: #5bd6d6;
    color: #1e2939;
}

.login a:hover {
    color: #1e2939;
}
.colortext {
    text-shadow: 0 0 19px #fff, 0 0 20px #fff;
}

.icon_social {
    display: flex;
    align-items: center;
}